@import url(./reset.css);
@import url(./fonts.css);
@import url(./vars.css);
@import url(./typography.css);
*{
    box-sizing: border-box;
}

body{
    font-family: 'main font';
    color: var(--color-gray);
    background-color: var(--color-light);
}

.container{
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto ;
    width: 100%;
}
.header__top{
    margin-top: 15px;
    padding: 15px 0;
}
.header__nav{
    display: flex;
    gap: 30px;
    
}
.header__link{
    text-decoration: none;
    color: var(--color-gray);
}
.header__top__container{
    display: flex;
    align-items: center;
}
.header__support{
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 20px;
    color: var(--color-gray);
}
.header__support__link{
    display: flex;
    gap: 10px;
}
.header__main{
    background-color: var(--color-white);
    padding: 25px 0;
    border-bottom: 2px solid var(--color-light) ;
}
.header__main__container{
    display: flex;
    gap: 30px;

}
.header__button{
    background-color: var(--color-yellow);
    border-radius: 8px;
    gap: 10px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: none;
    font-family: inherit;
    min-height: 46px;
    min-width: 145;
    color: var(--color-white);
}
.search{
    height: 50px;
    max-width: 421px;
    border-radius: 8px;
    border: 1px solid var(--color-gray-light);
    background-color: var(--color-white);
    color: var(--color-gray-light);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
}
.search__input{
    border: none;
    font-family: inherit;
    font: inherit;
    color: inherit;
    padding: 0;
    flex: 1 1;
}
.header__menu-list{
    display: flex;
    gap: 40px;
}
.header__menu-item{
    display: flex;
    gap: 10px;
}
.header__menu__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    background-color: var(--color-white);
    padding: 18px 0;
}
.breadcrumbs{
    display: flex;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 30px;
}
.breadcrumbs__link{
    text-decoration: none;
    color: inherit;
    
}
.breadcrumbs__link_active{
    color: var(--color-yellow);
} 
.categories{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.categories__item {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: -3px 4px 15px 0 var(--color-shadow);
    color: var(--color-dark);
    height: 180px;
    position: relative;
    padding: 20px 20px 0;
    display: flex;
    justify-content: center;
    flex:1 1 19%;
}
.categories__item-indicator{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    height: 5px;
    border-radius: 8px;
    background-color: var(--color-yellow);
}
.categories__item-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.categories__title{
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-dark);
    margin-bottom: 30px;
}
.categories__title sup{
    color: var(--color-gray-light);
}
.categories__expand-button{
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-yellow);
    margin-top: 10px;
}
.catalog{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}
.filters{
    background-color: var(--color-white);
    border-radius: 8px;
    border: 1px solid var(--color-secondary-white);
    max-width: 300px;
    display: flex;
    flex-direction:column;
}
.filters__group{
    border-bottom: 1px solid var(--color-secondary-white);
}
.filters__group-header{
    display: flex;
    background-color: var(--color-light);
    color: var(--color-dark);
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 18px 15px;
}
.filters__group-content{
    padding: 15px 15px 20px;
}
.filters__group-item{
    color: var(--color-dark);
    display: flex;
    gap: 10px;
    align-items: center;
}
.filters__group-a{
    text-decoration: none;
    color: var(--color-yellow);
    border-bottom: 1px dotted var(--color-yellow);
}
.filters__header{
    border-bottom: 1px solid var(--color-secondary-white);
    display: flex;
    align-items: center;
    gap: 15px;
    display: flex;
    color: var(--color-dark);
    align-items: center;
    padding: 20px;
}
.goods{
    flex: 1 1;
}
.goods__menu-change{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.goods__menu-change-sorting{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.goods__list{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.goods__list-button{
    background-color: var(--color-white);
    border-radius: 8px;
    gap: 5px;
    display: flex;
    align-items: center;
    border: none;
    border: 1px solid var(--color-gray-light);

    color: var(--color-dark);
    padding:0 10px;
    min-height: 30px;
}
.goods__list-button.active{
    background-color: var(--color-yellow);
    border: none;
}
.goods__grid{
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.goods__grid-card{
    display: flex;
    flex-direction: column;
    padding:20px;
    gap: 20px;
    border: 1px solid var(--color-secondary-white);
    background-color: var(--color-white);
    box-shadow: -3px 4px 15px 0 var(--color-shadow);
    border-radius: 8px;
    width: 300px;
    height: 468px;
}
.goods__grid-card-img{
    height: 220px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.goods__grid-card-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.goods__grid-card-info-header{
    color: var(--color-dark);
}
.goods__grid-card-info-availability{
    display: flex;
    gap: 5px;
    align-items: center;
}
.goods__grid-card-value{
    color: var(--color-dark);
    align-items: center;
}
.goods__grid-card-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}
.goods__grid-card-discount{
    color: var(--color-red);
    text-decoration: line-through;
}
.goods__grid-card-icons{
    display: flex;
    align-items: end;
    gap: 10px;
}
.goods__grid-card-icons a{
    display: flex;  

}