.h1{
    line-height: 48px;
    font-weight: 600;
    font-size: 40px;
}
.h2{
    line-height: 40px;
    font-size: 30px;
    font-weight: 600;
}
.h3{
    line-height: 34px;
    font-size: 26px;
    font-weight: 600;
}
.h4{
    line-height: 28px;
    font-size: 20px;
    font-weight: 600;
}
.h5{
    line-height: 24px;
    font-size: 19px;
    font-weight: 600;
}
.h6{
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.text{
    font-size: 16px;
    line-height: 30px;
}
.text-small{
    font-size: 15px;
    line-height: 22px;
}
.discription{
    font-size: 13px;
    line-height: 22px;
}