:root{
    --color-dark:rgba(43, 41, 41, 1);
    --color-gray:rgba(83, 83, 83, 1);
    --color-light:rgba(248, 248, 248, 1);
    --color-gray-light:rgba(177, 177, 177, 1);
    --color-yellow:rgba(255, 188, 87, 1);
    --color-white:rgba(255, 255, 255, 1);
    --color-secondary-white:rgba(227, 226, 226, 1);
    --color-shadow: rgba(0, 0, 0, 0.06);
    --color-red:rgba(224, 61, 61, 1);
    --color-bg-reviews:rgba(233, 233, 233, 1);
    --color-orange: rgba(255, 153, 0, 1);
}
